body {
    background-color: rgb(188, 205, 229);
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: lightsteelblue;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    margin: 0;
    padding: 20px;
}

.square {
    /* Adjust the width and height based on the number of squares per row */
    width: calc(100% / 11 - 30px);
    padding-top: calc(100% / 11 - 30px);
    float: left;
    margin: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 5%;
    box-sizing: border-box;
}

#game_area {
    margin: 0px auto;
    max-width: 100%;
}

#colorDisplay {
    font-size: 200%;
    text-align: center;
}

#messageTry {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

#stripe {
    background: white;
    height: 50px;
    width: 100%;
    text-align: center;
    color: black;
}

.left-section {
    float:left;
}

.middle-section {
    flex: 1; /* Take remaining space to push Start button to the right */
    text-align: center;
}

#reset {
    background: lightgray;
    size: 100px;
    float: right;
}

#Select {
    text-align: right;
    float: right;
}

.selected {
    background: lightseagreen;
}

#slider {
    width: 200px; /* Adjust the width of the slider as needed */
    margin: 10px auto;
}

#square_area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button:hover {
    color: white;
    background: palegoldenrod;
}

button {
    border: 10px;
    background: 100px;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: burlywood;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}
